@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  color: #e2e8f0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;

}
@media (hover: none) and (pointer: coarse) {
  * {
    cursor: auto;
     }
}